<%= form_with(model: clinica, local: true) do |form| %>
  <% if clinica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clinica.errors.count, "error") %> prohibited this clinica from being saved:</h2>

      <ul>
      <% clinica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-4">
      <%= form.label :nome %>
      <%= form.text_field :nome %>
    </div>
  

    <div class="col-xs-4">
      <%= form.label :endereco %>
      <%= form.text_field :endereco %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= form.label :numero %>
      <%= form.number_field :numero %>
    </div>

    <div class="col-xs-4">
      <%= form.label :estado %>
      <%= form.select :estado, Estado.pluck(:nome) %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= form.label :logo %>
      <%= form.text_field :logo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
